{% load fb_versions  %}

{% if social_network %}
    {% if 'top_menu' in type %}
        <div class="header-info-text">{{ setting_template.title }}</div>
        <div class="social-icons-top">
            <ul>
                {% with objects=social_network %}
                {% for obj in objects %}
                <li><a href="{{ obj.url }}" data-toggle="tooltip" target="_blank" data-placement="top" title="{{ obj.image_title }}" class="external" data-animate-hover="shake">
                    {% if obj.get_main_image %}
                    <img height="20" width="20" class='img-circle' src="{% version obj.get_main_image 'thumbnail' %}">
                    {% else %}
                    {{ obj.html_link|safe }}
                    {% endif %}
                </a>
                </li>
                {% endfor %}
                {% endwith %}
            </ul>
        </div>
    {% endif %}
{% endif %}

