{% load static %}
{% load fb_versions %}



{% if home %}

<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="mgt-header-block clearfix text-left text-black wpb_content_element  mgt-header-block-style-1 mgt-header-texttransform-header ">
                    <h2 class="mgt-header-block-title">{{ home.seo_title }}</h2>
                    <div class="mgt-header-line"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="vc_row wpb_row vc_row-fluid vc_custom_1459437352339">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner vc_custom_1459186959095">
            <div class="wpb_wrapper">
                <div class="mgt-promo-block black-text text-size-normal no-darken mgt-promo-block-75700987093 wpb_content_element"
                     data-style="background-color: #f5f5f5;width: 100%; height: 440px;"
                     style="background-color: #f5f5f5;width: 100%; height: 440px;">
                    <div class="mgt-promo-block-content va-top">

                        {% if home.get_main_image.image %}
                        <div class="mgt-promo-block animated white-text cover-image text-size-normal no-darken mgt-promo-block-80547717587 wpb_content_element"
                             data-style="background-image: url({% version home.get_main_image.image 'max' %});background-repeat: no-repeat;width: 100%; height: 440px;"
                             style="background-image: url({% version home.get_main_image.image 'max' %});background-repeat: no-repeat;width: 100%; height: 440px;">
                        </div>
                        {% endif %}

                        <div class="mgt-promo-block-content-inside vc_custom_1509475936654">
                            {{ home.html|safe }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="wpb_column vc_column_container vc_col-sm-4">-->
        <!--<div class="vc_column-inner ">-->
            <!--<div class="wpb_wrapper">-->
                <!--<div class="vc_tta-container" data-vc-action="collapse">-->
                    <!--<div class="vc_general vc_tta vc_tta-accordion vc_tta-color-black vc_tta-style-classic vc_tta-shape-square vc_tta-o-shape-group vc_tta-controls-align-left">-->
                        <!--<div class="vc_tta-panels-container">-->
                            <!--<div class="vc_tta-panels">-->
                                <!--<div class="vc_tta-panel vc_active"-->
                                     <!--id="1459164386535-056c539a-f4ce"-->
                                     <!--data-vc-content=".vc_tta-panel-body">-->
                                    <!--<div class="vc_tta-panel-heading"><h4-->
                                            <!--class="vc_tta-panel-title vc_tta-controls-icon-position-right">-->
                                        <!--<a href="#1459164386535-056c539a-f4ce"-->
                                           <!--data-vc-accordion=""-->
                                           <!--data-vc-container=".vc_tta-container"><span-->
                                                <!--class="vc_tta-title-text">OUR COMPANY MISSION</span><i-->
                                                <!--class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i></a>-->
                                    <!--</h4></div>-->
                                    <!--<div class="vc_tta-panel-body">-->
                                        <!--<div class="mgt-icon-box wpb_content_element mgt-icon-box-right mgt-icon-fa mgt-icon-background mgt-icon-background-normal text-black ">-->
                                            <!--<div class="mgt-icon-box-icon hvr-icon-push">-->
                                                <!--<div class="mgt-font-icon"><i-->
                                                        <!--class="fa fa-users"></i>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="mgt-icon-box-content"><h5>-->
                                                <!--Excellence</h5>We are a global-->
                                                <!--network of experts working with-->
                                                <!--clients, communities and colleagues-->
                                                <!--to develop and implement innovative-->
                                                <!--solutions to the world’s most-->
                                                <!--complex challenge us as one company.-->
                                            <!--</div>-->
                                            <!--<div class="clearfix"></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="vc_tta-panel"-->
                                     <!--id="1459238186084-d35c30a3-aeac"-->
                                     <!--data-vc-content=".vc_tta-panel-body">-->
                                    <!--<div class="vc_tta-panel-heading"><h4-->
                                            <!--class="vc_tta-panel-title vc_tta-controls-icon-position-right">-->
                                        <!--<a href="#1459238186084-d35c30a3-aeac"-->
                                           <!--data-vc-accordion=""-->
                                           <!--data-vc-container=".vc_tta-container"><span-->
                                                <!--class="vc_tta-title-text">CREATIVE AND POWERFUL</span><i-->
                                                <!--class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i></a>-->
                                    <!--</h4></div>-->
                                    <!--<div class="vc_tta-panel-body">-->
                                        <!--<div class="wpb_text_column wpb_content_element ">-->
                                            <!--<div class="wpb_wrapper">-->
                                                <!--<p>Embedded in our culture of hard-->
                                                    <!--work, honesty, and getting the-->
                                                    <!--well done job, our history tells-->
                                                    <!--not only much about our past but-->
                                                    <!--also it does our present.е Our-->
                                                    <!--record of succeeding, surviving,-->
                                                    <!--and striving to be the best is-->
                                                    <!--central to our reputation-->
                                                    <!--today.</p>-->

                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="vc_tta-panel"-->
                                     <!--id="1459164564259-3e188fa0-cc04"-->
                                     <!--data-vc-content=".vc_tta-panel-body">-->
                                    <!--<div class="vc_tta-panel-heading"><h4-->
                                            <!--class="vc_tta-panel-title vc_tta-controls-icon-position-right">-->
                                        <!--<a href="#1459164564259-3e188fa0-cc04"-->
                                           <!--data-vc-accordion=""-->
                                           <!--data-vc-container=".vc_tta-container"><span-->
                                                <!--class="vc_tta-title-text"> HONEST AND DEPENDABLE</span><i-->
                                                <!--class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i></a>-->
                                    <!--</h4></div>-->
                                    <!--<div class="vc_tta-panel-body">-->
                                        <!--<div class="vc_chart vc_line-chart wpb_content_element"-->
                                             <!--data-vc-legend="1" data-vc-tooltips="1"-->
                                             <!--data-vc-animation="easeinOutCubic"-->
                                             <!--data-vc-type="line"-->
                                             <!--data-vc-values="{&quot;labels&quot;:[&quot;JAN&quot;,&quot; FEB&quot;,&quot; MAR&quot;,&quot; APR&quot;,&quot; MAY&quot;,&quot; JUN&quot;,&quot; JUL&quot;,&quot; AUG&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;One&quot;,&quot;fillColor&quot;:&quot;rgba(84, 114, 210, 0.1)&quot;,&quot;strokeColor&quot;:&quot;#5472d2&quot;,&quot;pointColor&quot;:&quot;#5472d2&quot;,&quot;pointStrokeColor&quot;:&quot;#5472d2&quot;,&quot;highlightFill&quot;:&quot;#3c5ecc&quot;,&quot;highlightStroke&quot;:&quot;#3c5ecc&quot;,&quot;pointHighlightFill&quot;:&quot;#3c5ecc&quot;,&quot;pointHighlightStroke&quot;:&quot;#3c5ecc&quot;,&quot;data&quot;:[&quot;10&quot;,&quot; 15&quot;,&quot; 20&quot;,&quot; 25&quot;,&quot; 27&quot;,&quot; 25&quot;,&quot; 23&quot;,&quot; 25&quot;]},{&quot;label&quot;:&quot;Two&quot;,&quot;fillColor&quot;:&quot;rgba(254, 108, 97, 0.1)&quot;,&quot;strokeColor&quot;:&quot;#fe6c61&quot;,&quot;pointColor&quot;:&quot;#fe6c61&quot;,&quot;pointStrokeColor&quot;:&quot;#fe6c61&quot;,&quot;highlightFill&quot;:&quot;#fe5043&quot;,&quot;highlightStroke&quot;:&quot;#fe5043&quot;,&quot;pointHighlightFill&quot;:&quot;#fe5043&quot;,&quot;pointHighlightStroke&quot;:&quot;#fe5043&quot;,&quot;data&quot;:[&quot;25&quot;,&quot; 18&quot;,&quot; 16&quot;,&quot; 17&quot;,&quot; 20&quot;,&quot; 25&quot;,&quot; 30&quot;,&quot; 35&quot;]}]}">-->

                                            <!--<div class="wpb_wrapper">-->
                                                <!--<div class="vc_chart-with-legend">-->
                                                    <!--<canvas class="vc_line-chart-canvas"-->
                                                            <!--width="0" height="0"-->
                                                            <!--style="width: 0px; height: 0px;"></canvas>-->
                                                <!--</div>-->
                                                <!--<ul class="vc_chart-legend">-->
                                                    <!--<li><span-->
                                                            <!--style="background-color:#5472d2"></span>One-->
                                                    <!--</li>-->
                                                    <!--<li><span-->
                                                            <!--style="background-color:#fe6c61"></span>Two-->
                                                    <!--</li>-->
                                                <!--</ul>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="vc_tta-panel"-->
                                     <!--id="1459164561558-c64a2352-22d2"-->
                                     <!--data-vc-content=".vc_tta-panel-body">-->
                                    <!--<div class="vc_tta-panel-heading"><h4-->
                                            <!--class="vc_tta-panel-title vc_tta-controls-icon-position-right">-->
                                        <!--<a href="#1459164561558-c64a2352-22d2"-->
                                           <!--data-vc-accordion=""-->
                                           <!--data-vc-container=".vc_tta-container"><span-->
                                                <!--class="vc_tta-title-text">WE ARE ALWAYS IMPROVING</span><i-->
                                                <!--class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i></a>-->
                                    <!--</h4></div>-->
                                    <!--<div class="vc_tta-panel-body">-->
                                        <!--<div class="wpb_text_column wpb_content_element ">-->
                                            <!--<div class="wpb_wrapper">-->
                                                <!--<p>Embedded in our culture of hard-->
                                                    <!--work, honesty, and getting the-->
                                                    <!--well done job, our history tells-->
                                                    <!--not only much about our past but-->
                                                    <!--also it does our present.е Our-->
                                                    <!--record of succeeding, surviving,-->
                                                    <!--and striving to be the best is-->
                                                    <!--central to our reputation-->
                                                    <!--today.</p>-->

                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
    {% else %}

<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="mgt-header-block clearfix text-left text-black wpb_content_element  mgt-header-block-style-1 mgt-header-texttransform-header ">
                    <h1>Войдите в <a target="_blank" href="/admin">Административую панель [pYAp]!</a><br>
                        <small>под своим логином и паролем</small>
                    </h1>
                    <p>В Админке нужно создать объекты, которые необходимы для проекта.</p>
                    <ol>
                        <li>Настройки Главной страницы</li>
                        <li>Добавление товаров и каталогов</li>
                        <li>Создание Галереи</li>
                        <li>Ведение Блогов</li>
                    </ol>
                    <h3><a href="http://pyap.ru">Быстрый старт по заполнению магазина</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endif %}

