{% extends 'main.html' %}
{% load staticfiles %}
{% load fb_versions %}

{% block title %}{{ home.seo_title }}{% endblock %}
{% block description %}{{ home.seo_description }}{% endblock %}
{% block keywords %}{{ home.seo_keywords }}{% endblock %}

{% block additional_css %}{% endblock %}

{% block leftbar %}{% include 'default/leftbar.html' %}{% endblock %}

{% block main %}


{% include 'advertising/templates/slider_home.html' %}
<div class="page-container container">
    <div class="row">
        <div class="col-md-12 entry-content">
            {% load get_include_area %}

            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="mgt-cta-block clearfix black-text with-text no-side-paddings wpb_content_element"
                                 data-style="background-color: #ffffff;"
                                 style="background-color: #ffffff;">
                                <div class="mgt-button-wrapper mgt-button-wrapper-align-right mgt-button-wrapper-display-newline mgt-button-top-margin-disable">
                                    <a class="btn hvr-bounce-to-right mgt-button mgt-style-solid mgt-size-normal mgt-align-right mgt-display-newline mgt-text-size-normal mgt-button-icon-position-left mgt-text-transform-uppercase "
                                       href="/">Связаться</a>
                                </div>
                                <h5 class="mgt-cta-block-header">Противоскользящие системы</h5>
                                <div class="mgt-cta-block-content">Мы делаем мир лучше</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% get_include_area request code='advantages' %}

<div class="page-container container">
    <div class="row">
        <div class="col-md-12 entry-content">
            {% include 'home/templates/content.html' %}

            {% include 'product/templates/item_bestseller_product.html' with objects=bestseller_products title='ХИТ ПРОДАЖ' type='rows' %}
            {% include 'product/templates/item_bestseller_product.html' with objects=new_products title='НОВИНКИ' type='rows' %}
        </div>
    </div>
</div>

<div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-parallax="1.5" class="vc_row wpb_row vc_row-fluid vc_custom_1509476065439 vc_general vc_parallax vc_parallax-content-moving">
    <div class="wpb_column vc_column_container vc_col-sm-12" style="padding-left: 20%;">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="mgt-header-block clearfix text-left text-white wpb_content_element  mgt-header-block-style-1 mgt-header-texttransform-header ">
                    <h2 class="mgt-header-block-title">Клиенты о нас</h2>
                    <div class="mgt-header-line"></div>
                </div>
                <div class="mgt-client-reviews-wrapper" style="width: 60%; margin-left: 10%;">
                    <div id="mgt-client-reviews-86660" class="mgt-client-reviews wpb_content_element feedback slider" style="display: block;">
                        <div class="mgt-client-review text-dark reviews-style-box">
                            <div class="mgt-client-review-details">
                                <div class="mgt-client-review-content">Резиновые профили препятствуют скольжению вследствие природных свойств резины, в то время как алюминиевые отделочные профили оснащены специальными элементами, препятствующими скольжению. Всем рекомендую!</div>
                                <div class="mgt-client-review-title">
                                    <div class="mgt-client-review-image">
                                        <img src="{% static 'envato-40x40.jpg' %}" alt="Алексей Матрохин"/>
                                    </div>
                                    <h5>Алексей Матрохин <span> / <span>Инженер</span></span></h5>
                                </div>
                            </div>
                            <div class="clear">
                            </div>
                        </div>
                        <div class="mgt-client-review text-dark reviews-style-box">
                            <div class="mgt-client-review-details">
                                <div class="mgt-client-review-content">Закладные противоскользящие профили, которые устанавливаются на край ступени во время монтажа лестниц. Это алюминиевые отделочные профили с противоскользящими накладками серии SafeStep и ALPB. Спасибо!</div>
                                <div class="mgt-client-review-title">
                                    <div class="mgt-client-review-image">
                                        <img src="{% static 'envato-40x40.jpg' %}" alt="Михаил Пуденко"/></div>
                                    <h5>Михаил Пуденко <span> / <span>Директор</span></span></h5>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="mgt-client-review text-dark reviews-style-box">
                            <div class="mgt-client-review-details">
                                <div class="mgt-client-review-content">Накладные антискользящие покрытия и ленты, которые устанавливают на уже готовые ступени лестниц или скользкие поверхности. Всё отлично!</div>
                                <div class="mgt-client-review-title">
                                    <div class="mgt-client-review-image">
                                        <img src="{% static 'envato-40x40.jpg' %}" alt="Иван Ерохин"/></div>
                                    <h5>Иван Ерохин <span> / <span>Бухгалтер</span></span></h5>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

            {% if setting_template.phone %}
            <div class="vc_row wpb_row vc_row-fluid" style="width: 75%; padding-left: 25%;">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="mgt-cta-block clearfix black-text with-text no-side-paddings wpb_content_element"
                                 data-style="background-color: #ffffff;"
                                 style="background-color: #ffffff;">
                                <div class="mgt-button-wrapper mgt-button-wrapper-align-right mgt-button-wrapper-display-newline mgt-button-top-margin-disable">
                                    <a class="btn hvr-bounce-to-right mgt-button mgt-style-solid mgt-size-normal mgt-align-right mgt-display-newline mgt-text-size-normal mgt-button-icon-position-left mgt-text-transform-uppercase "
                                       href="tel:{{ setting_template.phone }}"><i class="fa fa-phone"></i> {{ setting_template.phone }}</a>
                                </div>
                                <h5 class="mgt-cta-block-header">Быстрый звонок</h5>
                                <div class="mgt-cta-block-content">Вы можете совершить звонок прямо с сайта.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

<div data-vc-full-width="true" data-vc-full-width-init="true"
     class="vc_row wpb_row vc_row-fluid vc_custom_1465151624441"
     style="position: relative; box-sizing: border-box; padding-left: 30%; padding-right: 30%;">
    <div class="wpb_column vc_column_container vc_col-sm-4">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="mgt-counter-wrapper wpb_content_element text-black text-left">
                    <div class="mgt-counter-icon"><i class="fa fa-building"></i>
                    </div>
                    <span class="mgt-counter-value" data-from="0" data-to="346"
                          data-speed="2000" data-decimals="0">346</span><h5
                        class="mgt-counter-title">ПРОЕКТОВ</h5></div>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-4">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="mgt-counter-wrapper wpb_content_element text-black text-left">
                    <div class="mgt-counter-icon"><i class="fa fa-users"></i>
                    </div>
                    <span class="mgt-counter-value" data-from="0" data-to="932"
                          data-speed="2000" data-decimals="0">932</span><h5
                        class="mgt-counter-title">КЛИЕНТОВ</h5></div>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-4">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="mgt-counter-wrapper wpb_content_element text-black text-left">
                    <div class="mgt-counter-icon"><i
                            class="fa fa-graduation-cap"></i>
                    </div>
                    <span class="mgt-counter-value" data-from="0" data-to="325"
                          data-speed="2000" data-decimals="0">325</span><h5
                        class="mgt-counter-title">СОТРУДНИКОВ</h5></div>
            </div>
        </div>
    </div>
    <!--<div class="wpb_column vc_column_container vc_col-sm-3">-->
    <!--<div class="vc_column-inner ">-->
    <!--<div class="wpb_wrapper">-->
    <!--<div class="mgt-counter-wrapper wpb_content_element text-black text-left">-->
    <!--<div class="mgt-counter-icon"><i class="fa fa-truck"></i>-->
    <!--</div>-->
    <!--<span class="mgt-counter-value" data-from="0" data-to="4321"-->
    <!--data-speed="2000" data-decimals="0">4321</span><h5-->
    <!--class="mgt-counter-title">MACHINERIES</h5></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</div>
<div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1510048244374"
     style="position: relative; box-sizing: border-box; padding-left: 171px; padding-right: 171px;">
    <div class="wpb_column vc_column_container vc_col-sm-4">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="mgt-promo-block black-text text-size-normal no-darken mgt-promo-block-56512636915 wpb_content_element"
                     data-style="width: 100%; height: auto;"
                     style="width: 100%; height: auto;">
                    <div class="mgt-promo-block-content va-bottom">
                        <div class="mgt-promo-block-content-inside vc_custom_1510132845805">
                            <h4><span style="color: #ffffff">СОТРУДНИЧЕСТВО</span>
                            </h4>
                            <h1><span style="color: #ffffff">МЫ ЭКСПЕРТЫ В СВОЁМ ДЕЛЕ С 1995 ГОДА</span>
                            </h1>
                            <div class="mgt-button-wrapper mgt-button-wrapper-align-left mgt-button-wrapper-display-newline mgt-button-top-margin-enable">
                                <a class="btn hvr-bounce-to-right mgt-button mgt-style-solid-invert mgt-size-normal mgt-align-left mgt-display-newline mgt-text-size-normal mgt-button-icon-position-right mgt-text-transform-uppercase "
                                   href="/">Связаться<i class="fa fa-arrow-right"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-8 vc_col-has-fill">
        <div class="vc_column-inner vc_custom_1510048154170">
            <div class="wpb_wrapper">
                <div class="wpb_single_image wpb_content_element vc_align_right  wpb_animate_when_almost_visible wpb_right-to-left right-to-left wpb_start_animation animated">

                    <figure class="wpb_wrapper vc_figure">
                        <div class="vc_single_image-wrapper   vc_box_border_grey">
                            <img width="477" height="292" src="{% static 'Meter-Construc.png' %}"
                                 class="vc_single_image-img attachment-full"></div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vc_row-full-width"></div>

{% if home.blog %}
<div class="page-container container">
    <div class="row">
        <div class="col-md-12 entry-content">
            {% include 'blog/templates/blog_post_list.html' with obj=home.blog objects=posts page=home %}
        </div>
    </div>
</div>
{% endif %}

{% endblock %}


{% block additional_js %}{% endblock %}