{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <link rel="shortcut icon" href="{% static '/favicon.ico' %}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" media="screen" href="{% static 'css/application-8c55431c8d32f719293142135e5c2383.css' %}">
    <link href="{% static 'css/css.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}">

    <link rel="stylesheet" id="contact-form-7-css" href="{% static 'css/styles.css' %}" type="text/css" media="all">
    <link rel="stylesheet" id="responsive-lightbox-swipebox-css" href="{% static 'css/swipebox.min.css' %}" type="text/css" media="all">
    <link rel="stylesheet" id="rs-plugin-settings-css" href="{% static 'css/settings.css' %}" type="text/css" media="all">
    <link rel="stylesheet" id="bootstrap-css" href="{% static 'css/bootstrap.css' %}" type="text/css" media="all">
    <link rel="stylesheet" id="thebuilt-fonts-css" href="{% static 'css/css_1.css' %}" type="text/css" media="all">
    <link rel="stylesheet" id="owl-main-css" href="{% static 'css/owl.carousel.css' %}" type="text/css" media="all">
    <link rel="stylesheet" id="owl-theme-css" href="{% static 'css/owl.theme.css' %}" type="text/css" media="all">
    <link rel="stylesheet" id="thebuilt-stylesheet-css" href="{% static 'css/style.css' %}" type="text/css" media="all">
    <link rel="stylesheet" id="thebuilt-responsive-css" href="{% static 'css/responsive.css' %}" type="text/css" media="all">
    <link rel="stylesheet" id="thebuilt-animations-css" href="{% static 'css/animations.css' %}" type="text/css" media="all">
    <link rel="stylesheet" id="thebuilt-mega-menu-css" href="{% static 'css/mega-menu.css' %}" type="text/css" media="all">
    <link rel="stylesheet" id="thebuilt-mega-menu-responsive-css" href="{% static 'css/mega-menu-responsive.css' %}" type="text/css" media="all">
    <link rel="stylesheet" id="font-awesome-css" href="{% static 'css/font-awesome.min.css' %}" type="text/css" media="all">
    <link rel="stylesheet" id="thebuilt-select2-css" href="{% static 'css/select2.css' %}" type="text/css" media="all">
    <link rel="stylesheet" id="offcanvasmenu-css" href="{% static 'css/offcanvasmenu.css' %}" type="text/css" media="all">
    <link rel="stylesheet" id="nanoscroller-css" href="{% static 'css/nanoscroller.css' %}" type="text/css" media="all">
    <link rel="stylesheet" id="thebuilt-hover-css" href="{% static 'css/hover.css' %}" type="text/css" media="all">
    <link rel="stylesheet" id="dashicons-css" href="{% static 'css/dashicons.min.css' %}" type="text/css" media="all">
    <link rel="stylesheet" id="thickbox-css" href="{% static 'css/thickbox.css' %}" type="text/css" media="all">
    <link rel="stylesheet" id="js_composer_front-css" href="{% static 'css/js_composer.min.css' %}" type="text/css" media="all">
    <link rel="stylesheet" id="style-cache-thebuilt-css" href="{% static 'css/style-cache-thebuilt.css' %}" type="text/css" media="all">
    <!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css" href="{% static 'css/vc_lte_ie9.min.css' %}" media="screen">
    <![endif]-->
    <style type="text/css" data-type="vc_shortcodes-custom-css">
        .vc_custom_1459162774762{padding-top: 50px !important;padding-bottom: 50px !important;background-color: #f5f5f5 !important;}.vc_custom_1459437352339{margin-bottom: 50px !important;}.vc_custom_1459335800844{padding-bottom: 60px !important;background-color: #2a2f35 !important;}.vc_custom_1465151624441{padding-top: 50px !important;padding-bottom: 50px !important;background-color: #f7f7f7 !important;}.vc_custom_1461317391634{margin-bottom: 20px !important;}.vc_custom_1461317379236{margin-bottom: 50px !important;}.vc_custom_1510048244374{padding-top: 80px !important;padding-bottom: 80px !important;background: #f9bb34 url(https://cde97efe.envatohostedview.com/wp-content/uploads/2016/03/Back-Architecture-5.jpg?id=2977) !important;background-position: 0 0 !important;background-repeat: repeat !important;}.vc_custom_1464598757561{padding-bottom: 30px !important;}.vc_custom_1509476065439{padding-top: 50px !important;padding-bottom: 50px !important;background-image: url(https://cde97efe.envatohostedview.com/wp-content/uploads/2016/03/Back-Architecture-4.jpg?id=2978) !important;background-position: center;background-repeat: no-repeat !important;background-size: cover !important;}.vc_custom_1459501258600{padding-top: 30px !important;padding-bottom: 30px !important;}.vc_custom_1465207604440{padding-top: 50px !important;padding-bottom: 50px !important;background-color: #f7f7f7 !important;}.vc_custom_1510132721387{padding-top: 25px !important;padding-right: 25px !important;padding-left: 25px !important;}.vc_custom_1510132738116{padding-top: 25px !important;padding-right: 25px !important;padding-left: 25px !important;}.vc_custom_1510132749842{padding-right: 25px !important;padding-left: 25px !important;}.vc_custom_1510132757166{padding-right: 25px !important;padding-left: 25px !important;}.vc_custom_1459186986556{margin-right: 0px !important;padding-right: 0px !important;}.vc_custom_1459186959095{margin-left: 0px !important;padding-left: 0px !important;}.vc_custom_1509475936654{padding-top: 25px !important;padding-right: 25px !important;padding-left: 25px !important;}.vc_custom_1510132789992{padding-right: 25px !important;padding-left: 25px !important;}.vc_custom_1459415178192{padding-top: 25px !important;padding-right: 25px !important;padding-bottom: 25px !important;padding-left: 25px !important;background-color: #f5f5f5 !important;}.vc_custom_1510132796607{padding-right: 25px !important;padding-left: 25px !important;}.vc_custom_1459415137038{padding-top: 25px !important;padding-right: 25px !important;padding-bottom: 25px !important;padding-left: 25px !important;background-color: #f5f5f5 !important;}.vc_custom_1510132803492{padding-right: 25px !important;padding-left: 25px !important;}.vc_custom_1459415187822{padding-top: 25px !important;padding-right: 25px !important;padding-bottom: 25px !important;padding-left: 25px !important;background-color: #f5f5f5 !important;}.vc_custom_1510132810758{padding-right: 25px !important;padding-left: 25px !important;}.vc_custom_1459415207847{padding-top: 25px !important;padding-right: 25px !important;padding-bottom: 25px !important;padding-left: 25px !important;background-color: #f5f5f5 !important;}.vc_custom_1510132818598{padding-right: 25px !important;padding-left: 25px !important;}.vc_custom_1459415347117{padding-top: 25px !important;padding-right: 25px !important;padding-bottom: 25px !important;padding-left: 25px !important;background-color: #f5f5f5 !important;}.vc_custom_1510132825609{padding-right: 25px !important;padding-left: 25px !important;}.vc_custom_1459415359834{padding-top: 25px !important;padding-right: 25px !important;padding-bottom: 25px !important;padding-left: 25px !important;background-color: #f5f5f5 !important;}.vc_custom_1461317657369{margin-left: 0px !important;}.vc_custom_1510048154170{background-image: url(https://cde97efe.envatohostedview.com/wp-content/uploads/2016/03/SimpleWordsConstruct.png?id=3159) !important;background-position: 0 0 !important;background-repeat: no-repeat !important;}.vc_custom_1510132845805{margin-left: -15px !important;padding-top: 50px !important;}.vc_custom_1510132856873{padding-right: 20px !important;padding-left: 20px !important;}.vc_custom_1510132863071{padding-right: 20px !important;padding-left: 20px !important;}.vc_custom_1510132869361{padding-right: 20px !important;padding-left: 20px !important;}.vc_custom_1510132875606{padding-right: 20px !important;padding-left: 20px !important;}

    </style>
    <link rel="stylesheet" id="vc_tta_style-css" href="{% static 'css/js_composer_tta.min.css' %}" type="text/css" media="all">
    <link rel="stylesheet" id="animate-css-css" href="{% static 'css/animate.min.css' %}" type="text/css" media="all">

    {# -- pyap -- #}
    <title>{% block title %}{% endblock %}</title>
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Marychev Mihail | pyap.ru">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    {% if setting_template.meta %}{{ setting_template.meta|safe }}{% endif %}

    {% block additional_css %}{% endblock %}
    {# -- end -- #}
</head>


{% if user.is_staff %}
<a target="_blank" href="/admin"
   style="position: fixed; color: #D1A054; top:1px; padding: 5px 10px; font-size: 10px; z-index: 30; border: 1px solid #D1A054;">A</a>
{% endif %}

<body class="home page-template-default page page-id-11 wpb-js-composer js-comp-ver-5.4.7 vc_responsive">

<div id="st-container" class="st-sidebar-container">
    {% block content %}{% endblock %}
</div>


<!--<script src="{% static 'js/wp-emoji-release.min.js' %}" type="text/javascript" defer=""></script>-->
<!--<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>

<script type="text/javascript" src="{% static 'js/jquery-migrate.min.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'js/jquery.swipebox.min.js' %}"></script>-->
<!--<script type="text/javascript">-->
<!--/* <![CDATA[ */-->
<!--var rlArgs = {"script":"swipebox","selector":"lightbox","customEvents":"","activeGalleries":"1","animation":"1","hideCloseButtonOnMobile":"0","removeBarsOnMobile":"0","hideBars":"1","hideBarsDelay":"5000","videoMaxWidth":"1080","useSVG":"1","loopAtEnd":"0","woocommerce_gallery":"0"};-->
<!--/* ]]> */-->


<!--</script>-->
<!--<script type="text/javascript" src="{% static 'js/front.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'js/jquery.themepunch.tools.min.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'js/jquery.themepunch.revolution.min.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'js/js-cache-thebuilt.js' %}"></script>-->


<!--<script type="text/javascript">function setREVStartSize(e){-->
<!--try{ e.c=jQuery(e.c);var i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;-->
<!--if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})-->
<!--}catch(d){console.log("Failure at Presize of Slider:"+d)}-->
<!--};-->

<!--</script>-->

<!--<noscript>-->
<!--<style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style>-->
<!--</noscript>-->

<!--<script type="text/javascript">-->
<!--function revslider_showDoubleJqueryError(sliderID) {-->
<!--var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";-->
<!--errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";-->
<!--errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";-->
<!--errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";-->
<!--errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";-->
<!--jQuery(sliderID).show().html(errorMessage);-->
<!--}-->


<!--</script>-->
<!--<script type="text/javascript">-->
<!--/* <![CDATA[ */-->
<!--var wpcf7 = {"apiSettings":{"root":"https:\/\/cde97efe.envatohostedview.com\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}}};-->
<!--/* ]]> */-->
<!--</script>-->
<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
<!--<script type="text/javascript">-->
<!--/* <![CDATA[ */-->
<!--var thickboxL10n = {"next":"Next >","prev":"< Prev","image":"Image","of":"of","close":"Close","noiframes":"This feature requires inline frames. You have iframes disabled or your browser does not support them.","loadingAnimation":"https:\/\/cde97efe.envatohostedview.com\/wp-includes\/js\/thickbox\/loadingAnimation.gif"};-->
<!--/* ]]> */-->


<!--</script>-->
<!--<script type="text/javascript" src="{% static 'js/thickbox.js' %}"></script>-->
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'js/jquery.parallax.js' %}"></script>-->
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>-->
<script type="text/javascript" src="{% static 'js/jquery.nanoscroller.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.mixitup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/TweenMax.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.superscrollorama.js' %}"></script>
<script type="text/javascript" src="{% static 'js/template.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'js/wp-embed.min.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'js/js_composer_front.min.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'js/waypoints.min.js' %}"></script>-->
<script type="text/javascript" src="{% static 'js/vc-accordion.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vc-tta-autoplay.min.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>-->
<script type="text/javascript" src="{% static 'js/vc_line_chart.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.appear.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.countTo.js' %}"></script>
<script type="text/javascript" src="{% static 'js/skrollr.min.js' %}"></script>

<script src="{% static 'slick/slick.js' %}" type="text/javascript" charset="utf-8"></script>

{# ---pYAp --- #}
<link rel="stylesheet" href="{% static 'cart/css/cart.css' %}" type="text/css" media="all">
<script src="{% static 'js/imitationPostCsrftoken.js' %}"></script>
<script src="{% static 'cart/js/addCartForm.js' %}"></script>
<script src="{% static 'cart/js/editCartForm.js' %}"></script>
<script src="{% static 'js/pyap.js' %}"></script>
{% if setting_template.scripts %}{{ setting_template.scripts|safe }}{% endif %}
{% block additional_js %}{% endblock %}
{# --- end pYAp --- #}


</body>
</html>