{% extends 'base.html' %}

{% load staticfiles %}
{% load mptt_tags %}
{% load fb_versions %}


{% block content %}

    <div class="st-sidebar-pusher">
        <div class="st-sidebar-content">
            <div class="st-sidebar-content-inner" style="margin-top: 0px;">

                {% block header %}{% include 'default/header.html' %}{% endblock %}

                {% block main %}
                    {% block breadcrumbs %}{% endblock %}
                    {% block leftbar %}{% endblock %}
                {% endblock %}

                {% block footer %}{% include 'default/footer.html' %}{% endblock %}

                {% include 'search/search_form.html' %}




            </div>
        </div>
    </div>

{% endblock %}


