
<div class="search-fullscreen-wrapper">
    <div class="search-fullscreen-form">
        <div class="search-close-btn"><i class="fa fa-times"></i></div>
        <form method="get" action="{% url 'search:search' %}" id="searchform_p" accept-charset="utf-8" role="search" class="searchform">
            <input type="search" class="field" name="q" placeholder="Что ищем? ..." {% if q %}value="{{ q }}"{% endif %}>
            <input type="submit" class="submit btn" id="searchsubmit_p" value="Search">
        </form>
    </div>
</div>

