{% extends 'main.html' %}
{% load staticfiles %}
{% load fb_versions %}

{% block title %}{{ object.seo_title }}{% endblock %}
{% block description %}{{ object.seo_description }}{% endblock %}
{% block keywords %}{{ object.seo_keywors }}{% endblock %}

{% block leftbar %}{% include 'default/leftbar.html' %}{% endblock %}

{% block main %}

    {% if object.get_main_image %}
        <div class="container-bg with-bg with-bgcolor" data-style="background-color: #F4F4F4" style="background-image: url({% version object.get_main_image.image 'max' %});">
    {% else %}
        <div class="container-bg with-bgcolor" data-style="background-color: #F4F4F4">
    {% endif %}
        <div class="container-bg-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-item-title">
                            <h1>{{ object.seo_title }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block breadcrumbs %}{% include 'default/breadcrumbs.html' with obj=object %}{% endblock %}

    </div>

    <div class="page-container container">
        <div class="row">
            <div class="col-md-12 entry-content">
                <article>
                    <div class="vc_row wpb_row vc_row-fluid vc_custom_1464263823580">
                        <div class="wpb_column vc_column_container">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="mgt-header-block clearfix text-left text-black wpb_content_element  mgt-header-block-style-1 mgt-header-texttransform-header  vc_custom_1464263778264">
                                        <h2 class="mgt-header-block-title">{{ object.title }}</h2>
                                        <div class="mgt-header-line"></div>
                                    </div>
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">{{ object.html|safe }}</div>
                                        <time class="small text-muted" datetime="{{ object.created }}">{{ object.created }}</time>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    {% if object.get_images.exists %}
                        <div data-vc-full-width="true" data-vc-full-width-init="true"
                             class="vc_row wpb_row vc_row-fluid vc_custom_1463480199968"
                             style="position: relative; left: -171px; box-sizing: border-box; width: 1542px; padding-left: 171px; padding-right: 171px;">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="mgt-header-block clearfix text-left text-black wpb_content_element  mgt-header-block-style-1 mgt-header-texttransform-header ">
                                            <h2 class="mgt-header-block-title">Все изображения:</h2>
                                            <div class="mgt-header-line"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row-full-width"></div>
                        <div class="mgt-post-list-wrapper">
                            <div class="mgt-post-list wpb_content_element animated regular slider owl-theme regular slider">

                                {% for img in object.get_images %}
                                <div class="mgt-post normal-blocks">
                                        <div class="mgt-post-image" data-style="background-image: url({% version img.image 'medium' %});"></div>
                                    <div class="mgt-post-details">
                                        <div class="mgt-post-date"><i class="fa fa-file-text-o"></i> {{ img.image_title }}</div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    {% endif %}
                    <div class="vc_row-full-width"></div>

                </article>

                {% if object.is_allow_comments %}
                <div class='box'>
                    {% include 'default/comment_list.html' %}<br>
                    {% include 'default/form_comment.html' with type='page' obj=object %}
                </div>
                {% endif %}


            </div>
        </div>
    </div>

{% if object.scripts %}{{ object.scripts|safe }}{% endif %}
{% endblock %}

{% block additional_js %}{% endblock %}

