{% load static %}
{% load fb_versions %}

{% if objects %}

{% if type == 'rows' %}

    <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1459162774762" style="position: relative; left: -171px; box-sizing: border-box; width: 1542px; padding-left: 171px; padding-right: 171px;">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <div class="mgt-header-block clearfix text-left text-black wpb_content_element  mgt-header-block-style-1 mgt-header-texttransform-header ">
                        <h2 class="mgt-header-block-title">{{ title }}</h2>
                        <div class="mgt-header-line"></div>
                    </div>

                    <div class="mgt-post-list-wrapper">
                        <div class="mgt-post-list wpb_content_element animated regular owl-theme regular slider">

                            {% with objects=objects %}
                            {% for product in objects %}
                            <div class="mgt-post normal-blocks">
                                <a href="{{ product.get_absolute_url }}">
                                    <div class="mgt-post-image" data-style="background-image: url({% version product.get_main_image.image 'medium' %});"
                                         style="background-image: url({% version product.get_main_image.image 'medium' %});">
                                        <div class="mgt-post-image-wrapper">
                                            {% if product.get_price %}{% include 'product/templates/product_price.html' with obj=product %}{% endif %}
                                            <div class="mgt-post-wrapper-icon"><i class="fa fa-plus"></i></div>
                                        </div>
                                    </div>
                                </a>
                                <div class="mgt-post-details">
                                    <div class="mgt-post-icon format-standard"></div>
                                    <div class="mgt-post-title"><a href="https://cde97efe.envatohostedview.com/2016/06/01/results-of-annual-general-meeting/">
                                        <h5>{{ product.title }}</h5></a>
                                    </div>

                                    <div class="mgt-post-date">
                                        {% if product.articul %}<i class="fa fa-file-text-o"></i>{{ product.articul }}{% endif %}
                                        <span class="post-comments-count"> <i class="fa fa-comment"></i>{{ product.get_comments.count }}</span>
                                    </div>
                                    <div class="mgt-post-text">{{ product.description|truncatewords:33 }}</div>
                                    {% if product.get_price %}
                                    <a rel="nofollow" class='jsAddToCart btn mgt-button hvr-bounce-to-right mgt-style-solid-invert mgt-size-small mgt-align-left mgt-display-inline mgt-text-size-normal mgt-text-transform-uppercase' data-product-id="{{ product.get_main_item.id }}" data-is-catalog="true">
                                        <i class="fa fa-shopping-cart"></i> В корзину</a>
                                    <div id="ajaxError"></div>
                                    {% else %}
                                    <div>
                                        <a class='btn mgt-button hvr-bounce-to-right mgt-style-solid-invert mgt-size-small mgt-align-left mgt-display-inline mgt-text-size-normal mgt-text-transform-uppercase' href="{{ product.get_absolute_url }}">Подробнее</a></div>
                                    {% endif %}


                                </div>
                            </div>
                            {% endfor %}
                            {% endwith %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}

    <div class="wpb_wrapper">
        <div class="mgt-header-block clearfix text-left text-black wpb_content_element  mgt-header-block-style-1 mgt-header-texttransform-header ">
            <h2 class="mgt-header-block-title">{{ title }}</h2>
            <div class="mgt-header-line"></div>
        </div>

        <div class="mgt-post-list-wrapper">
            <div class="mgt-post-list wpb_content_element animated regular owl-theme regular slider">

                {% with objects=objects %}
                {% for product in objects %}
                <div class="mgt-post normal-blocks">
                    <a href="{{ product.get_absolute_url }}">
                        <div class="mgt-post-image" data-style="background-image: url({% version product.get_main_image.image 'medium' %});"
                             style="background-image: url({% version product.get_main_image.image 'medium' %});">
                            <div class="mgt-post-image-wrapper">
                                {% if product.get_price %}{% include 'product/templates/product_price.html' with obj=product %}{% endif %}
                                <div class="mgt-post-wrapper-icon"><i class="fa fa-plus"></i></div>
                            </div>
                        </div>
                    </a>
                    <div class="mgt-post-details">
                        <div class="mgt-post-icon format-standard"></div>
                        <div class="mgt-post-title"><a href="https://cde97efe.envatohostedview.com/2016/06/01/results-of-annual-general-meeting/">
                            <h5>{{ product.title }}</h5></a>
                        </div>

                        <div class="mgt-post-date">
                            {% if product.articul %}<i class="fa fa-file-text-o"></i>{{ product.articul }}{% endif %}
                            <span class="post-comments-count"> <i class="fa fa-comment"></i>{{ product.get_comments.count }}</span>
                        </div>
                        <div class="mgt-post-text">{{ product.description|truncatewords:33 }}</div>
                        {% if product.get_price %}
                        <a rel="nofollow" class='jsAddToCart btn mgt-button hvr-bounce-to-right mgt-style-solid-invert mgt-size-small mgt-align-left mgt-display-inline mgt-text-size-normal mgt-text-transform-uppercase' data-product-id="{{ product.get_main_item.id }}" data-is-catalog="true">
                            <i class="fa fa-shopping-cart"></i> В корзину</a>
                        <div id="ajaxError"></div>
                        {% else %}
                        <div>
                            <a class='btn mgt-button hvr-bounce-to-right mgt-style-solid-invert mgt-size-small mgt-align-left mgt-display-inline mgt-text-size-normal mgt-text-transform-uppercase' href="{{ product.get_absolute_url }}">Подробнее</a></div>
                        {% endif %}


                    </div>
                </div>
                {% endfor %}
                {% endwith %}

            </div>
        </div>
    </div>

{% comment %}
<!--<div data-vc-full-width="true" data-vc-full-width-init="true"-->
         <!--class="vc_row wpb_row vc_row-fluid vc_custom_1459335800844"-->
         <!--style="position: relative; left: -171px; box-sizing: border-box; width: 1542px; padding-left: 171px; padding-right: 171px;">-->
        <!--<div class="wpb_column vc_column_container vc_col-sm-12">-->
            <!--<div class="vc_column-inner ">-->
                <!--<div class="wpb_wrapper">-->
                    <!--<div class="mgt-header-block clearfix text-left text-white wpb_content_element  mgt-header-block-style-1 mgt-header-texttransform-header ">-->
                        <!--<h2 class="mgt-header-block-title">{% if title %}{{ title }}{% else %}Товары{% endif %} {{ type }}</h2>-->
                        <!--<div class="mgt-header-line"></div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<div class="row portfolio-filter filter-left filter-bordered">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="col-md-12">&ndash;&gt;-->
                            <!--&lt;!&ndash;<a class="filter active" data-filter="all">All</a><a&ndash;&gt;-->
                                <!--&lt;!&ndash;class="filter" data-filter=".building">Building</a><a&ndash;&gt;-->
                                <!--&lt;!&ndash;class="filter"&ndash;&gt;-->
                                <!--&lt;!&ndash;data-filter=".consulting">Consulting</a><a&ndash;&gt;-->
                                <!--&lt;!&ndash;class="filter" data-filter=".interior">Interior</a><a&ndash;&gt;-->
                                <!--&lt;!&ndash;class="filter" data-filter=".office">Office</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<div class="portfolio-list portfolio-columns-4 portfolio-grid-layout-3 clearfix" id="portfolio-list">-->
                        <!--{% with objects=objects %}-->
                        <!--{% for product in objects %}-->
                            <!--<div class="portfolio-item-block portfolio-item-animation-6 mix building"-->
                                 <!--data-item="{{ product.id }}" data-name="{{ product.articul }}"-->
                                 <!--style="display: inline-block;">-->
                                <!--<div class="portfolio-item-block-inside">-->
                                    <!--<a href="{{ product.get_absolute_url }}"-->
                                       <!--target="_self" rel="" title="{{ product.title }}">-->
                                        <!--<div class="portfolio-item-image"-->
                                             <!--data-style="background-image: url({% version product.get_main_image.image 'medium' %});"-->
                                             <!--style="background-image: url({% version product.get_main_image.image 'medium' %});"></div>-->
                                        <!--<div class="portfolio-item-bg"></div>-->
                                        <!--<div class="info">-->
                                            <!--{% if product.articul %}<span class="sub-title"><a href="{{ product.get_absolute_url }}" class='small text-muted'>{{ product.articul }}</a></span>{% endif %}-->
                                            <!--<h4 class="title">{{ product.title }}</h4>-->
                                            <!--{% if product.get_price %}-->
                                            <!--<div class="project-description">-->
                                                <!--{% include 'product/templates/product_price.html' with obj=product %}-->
                                            <!--</div>-->
                                            <!--{% endif %}-->
                                            <!--{% if product.get_price %}-->
                                                <!--<a rel="nofollow" class='jsAddToCart view-more btn mgt-button' data-product-id="{{ product.get_main_item.id }}" data-is-catalog="true"><i class="fa fa-shopping-cart"></i>В корзину</a>-->
                                                <!--<div id="ajaxError"></div>-->
                                            <!--{% else %}-->
                                                <!--<div class="view-more btn mgt-button">Подробнее</div>-->
                                            <!--{% endif %}-->
                                        <!--</div>-->
                                    <!--</a>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--{% endfor %}-->
                        <!--{% endwith %}-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--<div class="vc_row-full-width"></div>-->

        <!--{% with objects=objects %}-->
            <!--{% for product in objects %}-->


                <!--<div class="front">-->
                    <!--<a href="">-->
                        <!--<img class="img-responsive" src="" title="{{ product.get_main_image.image.image_title }}" alt="{{ product.title }}">-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="back">-->
                    <!--<a href="{{ product.get_absolute_url }}">-->
                        <!--<img class="img-responsive" src="{% version product.get_main_image.image 'medium' %}" title="{{ product.get_main_image.image.image_title }}" alt="{{ product.title }}">-->
                    <!--</a>-->
                <!--</div>-->


                <!--<a href="{{ product.get_absolute_url }}" class="invisible">-->
                    <!--<img src="{% version product.get_main_image.image 'medium' %}" alt="" class="img-responsive">-->
                <!--</a>-->
                <!--<div class="text">-->
                    <!--<span>{{ product.title }}<br>-->
                    <!--{% if product.articul %}<a href="{{ product.get_absolute_url }}" class='small text-muted'>{{ product.articul }}</a><br>{% endif %}-->
                    <!--{% if product.get_price %}-->
                        <!--{% include 'product/templates/product_price.html' with obj=product %}-->
                    <!--{% endif %}-->
                <!--</div>-->
                <!--&lt;!&ndash; /.text &ndash;&gt;-->

                <!--{% if product.get_price_discount %}-->
                <!--<div class="ribbon sale">-->
                    <!--<div class="theribbon">%</div>-->
                    <!--<div class="ribbon-background"></div>-->
                <!--</div>-->
                <!--{% endif %}-->
                <!--{% if product.is_new %}-->
                <!--<div class="ribbon new">-->
                    <!--<div class="theribbon">NEW</div>-->
                    <!--<div class="ribbon-background"></div>-->
                <!--</div>-->
                <!--{% endif %}-->
                <!--{% if product.is_bestseller %}-->
                <!--<div class="ribbon gift">-->
                    <!--<div class="theribbon">TOP</div>-->
                    <!--<div class="ribbon-background"></div>-->
                <!--</div>-->
                <!--{% endif %}-->

                <!--{% if product.get_price %}-->
                    <!--<a rel="nofollow" class='jsAddToCart btn btn-sm btn-block btn-primary' data-product-id="{{ product.get_main_item.id }}" data-is-catalog="true"><i class="fa fa-shopping-cart"></i>В корзину</a>-->
                    <!--<div id="ajaxError"></div>-->
                <!--{% else %}-->
                    <!--<a class='btn btn-sm btn-block btn-primary'><i class="fa fa-shopping-cart"></i>Подробнее</a>-->
                <!--{% endif %}-->
                    <!--&lt;!&ndash; /.product &ndash;&gt;-->
            <!--{% endfor %}-->
        <!--{% endwith %}-->
{% endcomment %}

    {% endif %}
{% endif %}

