
{% for item in main_obj.get_type_product_items %}
    <div>
        <input type="radio" name="product_item_name" id="id_product_item_name_{{ item.id }}" value="{{ item.name }}" {% if main_obj.get_main_item.name == item.name %}checked{% endif %}>
        <label for="id_product_item_name_{{ item.id }}">{{ item.name }} / {{ item.get_unit_display }}</label>
    </div>
{% endfor %}

{% with objs=objects %}
{% for obj in objs %}
    {% if obj.get_price %}
        <div style="display: none">
        {% if obj.get_price or obj.get_price_discount > 0 %}
            <input type="radio" name="product_item" id="product_item_{{ obj.id }}" value="{{ obj.id }}">
            <label for="product_item_{{ obj.id }}">{{ obj.name }}</label>
        {% endif %}
            {% if obj.articul %}<small>Артикул:</small> {{ obj.articul }}{% endif %}
            {% include 'product/templates/product_item_price.html' %}
        </div>
    {% endif %}
{% endfor %}
{% endwith %}
