{% extends 'main.html' %}
{% load staticfiles %}
{% load fb_versions %}

{% block title %}{{ product.seo_title }}{% endblock %}
{% block description %}{{ product.seo_description }}{% endblock %}
{% block keywords %}{{ product.seo_keywords }}{% endblock %}

{% block additional_css %}{% endblock %}

{% block main %}

{% block breadcrumbs %}
{% include 'default/breadcrumbs.html' with obj=product tree=product.catalog.first.get_family %}
{% endblock %}

<div class="page-container container">
    <div class="row">
        <div class="col-md-9">
            {% if product.get_children %}
                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="mgt-header-block clearfix text-left text-black wpb_content_element mgt-header-block-style-1 mgt-header-texttransform-header">
                                    <h2 class="mgt-header-block-title">{{ product.title }}</h2>
                                    <p>{{ product.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% for product in product.get_children %}{% include 'product/templates/product_article.html' %}{% endfor %}
            {% else %}
                {% include 'product/templates/product_article.html' %}
            {% endif %}
            <div class="row">
                {% include 'default/next_prev.html' with next_prev=next_prev %}
                <div class='box'>
                    {% include 'default/comment_list.html' %}<br>
                    {% include 'default/form_comment.html' %}
                </div>
                {% include 'product/templates/item_bestseller_product.html' with objects=product.recommend_products.all title='Похожие товары' %}
            </div>
        </div>
        {% block leftbar %}{% include 'default/leftbar.html' with leftbar=leftbar %}{% endblock %}
    </div>
</div>
{% endblock %}

{% block additional_js %}{% endblock %}