<div class="mgt-post-categories">
{% if obj.get_price_discount > 0 %}
    {{ obj.get_price_discount|floatformat:'2' }} р.
    <del>{{ obj.get_price|floatformat:'2' }} р.</del>
{% elif obj.get_price > 0  %}
    {{ obj.get_price|floatformat:'2' }} р.
{% endif %}
</div>