{% load fb_versions %}

<article>
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-6">
            <div class="vc_column-inner vc_custom_1460641256688">
                <div class="wpb_wrapper">

                    <div class="mgt-promo-block black-text text-size-normal no-darken mgt-promo-block-36261014417 wpb_content_element" style="background-color: #f5f5f5;">
                        <div class="mgt-promo-block-content">
                            <div class="mgt-promo-block-content-inside vc_custom_1510133965714">
                                <h4>{% if product.articul %}{{ product.articul }}{% endif %}</h4>
                                <h2><strong>{{ product.title }}</strong></h2>
                                <p>{{ product.description }}</p>
                                {% comment %}
                                {# --- line bestseller AND new product --- #}
                                {% if product.is_new %}
                                <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                                </div>
                                {% endif %}
                                {% if product.is_bestseller %}
                                <div class="ribbon sale">
                                <div class="theribbon">TOP</div>
                                <div class="ribbon-background"></div>
                                </div>
                                {% endif %}
                                {# ----------------- #}
                                {% endcomment %}


                                {% if product.get_price %}{% include 'product/templates/product_price.html' with obj=product %}{% endif %}

                                {% include 'product/templates/product_items.html' with main_obj=product objects=product.get_product_items %}

                                {% include 'product/templates/productl_form_add_cart.html' %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wpb_column vc_column_container vc_col-sm-6">
            <div class="vc_column-inner vc_custom_1460641327282">
                <div class="wpb_wrapper">
                    <div class="mgt-promo-block black-text cover-image text-size-normal no-darken mgt-promo-block-36261014317 wpb_content_element"
                         data-style="background-color: #f5f5f5;background-image: url({% version product.get_main_image.image 'large' %});background-repeat: no-repeat;width: 100%; height: 400px;"
                         style="background-color: #f5f5f5;background-image: url({% version product.get_main_image.image 'large' %});background-repeat: no-repeat;width: 100%; height: 400px;">
                        <div class="mgt-promo-block-content">
                            <div class="mgt-promo-block-content-inside"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <div class="vc_empty_space" style="height: 30px"><span class="vc_empty_space_inner"></span></div>
                </div>
            </div>
        </div>
    </div>

    {% if product.get_images.exists %}
        <div class="mgt-post-list wpb_content_element animated center owl-theme">
            {% for img in product.get_images %}
            <div class="col-xs-4">
                <a>
                    <img src="{% version img.image 'medium' %}" class="img-responsive">
                </a>
            </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if product.html %}
        <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="mgt-header-block clearfix text-left text-black wpb_content_element mgt-header-block-style-1 mgt-header-texttransform-none  vc_custom_1463499878886">
                            <h3 class="mgt-header-block-title">{{ product.seo_title }}</h3>
                            <div class="mgt-header-line"></div>
                        </div>
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">{{ product.html|safe }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

</article><hr>