{% extends "main.html" %}

{% block title %}Спасибо за заказ{% endblock %}
{% block description %}Спасибо за заказ{% endblock %}
{% block keywords %}Спасибо за заказ{% endblock %}


{% block main %}

<div class="content-block">
    <div class="container-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-item-title">
                        <h1>Заказ оформлен!</h1>
                    </div>
                </div>
            </div>
        </div>
        {% block breadcrumbs %}{% include 'default/breadcrumbs.html' %}{% endblock %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Номер вашего заказа: <b># {{ pk }}</b></h3>
                <a class='btn btn-primary' href="{% url 'users:order_detail' pk %}">Перейти к заказу</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}