{% load fb_versions %}

<div class="col-md-3  main-sidebar sidebar">
    <ul id="main-sidebar">

        <li id="nav_menu-1" class="widget widget_nav_menu">
            <h2 class="widgettitle">Мой аккаунт</h2>
            <div class="menu-blog-menu-container">
                <ul id="menu-blog-menu" class="menu">
                    {% if request.user %}
                    <li {% if current_url == '/users/profile/' %}class='active'{% endif %}>
                        <a href="{% url 'users:profile' %}">
                            <i class="fa fa-cogs" aria-hidden="true"></i> Настройки аккаунта
                        </a>
                    </li>
                    {% endif %}
                    <li {% if current_url == '/users/orders/' %}class='active'{% endif %}>
                        <a href="{% url 'users:orders' %}">
                            <i class="fa fa-folder-open" aria-hidden="true"></i> Мои заказы
                        </a>
                    </li>
                    <li {% if current_url == '/users/review/products/' %}class='active'{% endif %}>
                        <a href="{% url 'users:review_products' %}">
                            <i class="fa fa-credit-card" aria-hidden="true"></i> Мои Отзывы
                        </a>
                    </li>
                    <li><a href="{% url 'users:logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i> Выход</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
