{% extends 'main.html' %}
{% load staticfiles %}
{#{% load thumbnail %}#}

{% block title %}Заказ № {{ pk }}{% endblock %}
{% block description %}Заказ № {{ pk }}{% endblock %}
{% block keywords %}Заказ № {{ pk }}{% endblock %}

{% block additional_css %}{% endblock %}


{% block main %}
<div class="content-block">
    <div class="container-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-item-title">
                        <h1>Заказ № {{ pk }} <span class="badge">{{ order.created }}</span></h1>
                    </div>
                </div>
            </div>
        </div>
        {% block breadcrumbs %}{% include 'default/breadcrumbs.html' with obj='Настройки аккаунта' %}{% endblock %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <table class='table table-responsive table-hover'>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Товар</th>
                        <th>Кол-во</th>
                        <th>Цена</th>
                        <th>Сумма</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for orderitem in order.orderitem_set.all %}
                            {% with pi=orderitem.product_item %}
                                <tr class="spaceUnder">
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        {% include 'cart/templates/image_product_item.html' %}
                                    </td>
                                    <td>{{ orderitem.quantity }} шт.</td>
                                    <td data-label="Цена"><i class="fa fa-rub" aria-hidden="true"></i>
                                        {% if pi.price_discount > 0 %}{{ pi.price_discount|floatformat:'2' }}{% else %}{{ pi.price|floatformat:'2' }}{% endif %}
                                    </td>
                                    <td><i class="fa fa-rub" aria-hidden="true"></i>
                                        <span>{{ orderitem.get_cost|floatformat:'2' }}</span>
                                    </td>
                                </tr>
                            {% endwith %}
                        {% endfor %}
                        <tr class="all-price">
                            <td colspan="5" class="title">Общая стоимость</td>
                            <td class="price"><i class="fa fa-rub" aria-hidden="true"></i>
                                <span class='jsTotalCartPrice'>{{ order.total_cost|floatformat:'2' }}</span>
                            </td>
                        </tr>
                        </tbody>
                </table>
                {% if order.ttn %}
                    <p><span class='text-muted'>Товарно-транспортная накладная:</span> {{ order.ttn }}</p>
                {% endif %}
            </div>
            {% block leftbar %}{% include 'users/templates/left_panel.html' %}{% endblock %}

        </div>
    </div>
</div>



{% endblock %}

{% block additional_js %}{% endblock %}




