{% extends 'main.html' %}
{% load staticfiles %}

{% load fb_versions %}

{% block title %}Мои Отзывы{% endblock %}
{% block description %}Мои Отзывы{% endblock %}
{% block keywords %}Мои Отзывы{% endblock %}

{% block additional_css %}{% endblock %}

{% block breadcrumbs %}{% include 'default/breadcrumbs.html' with obj='Настройки аккаунта' %}{% endblock %}
{% block leftbar %}{% include 'users/templates/left_panel.html' %}{% endblock %}


{% block main %}
<div class="box" id="text-page">
    <h1>Мои Отзывы <span class="badge">{{ review_products|length }}</span></h1>
    <table class="table table-responsive">
        <thead><tr>
            <th>Товар</th>
            <th>Отзыв</th>
            <th>Дата</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>
        {% with reviews=review_products %}
            {% for review in reviews %}
                <tr class="spaceUnder">
                    <td>
                        <a href="{{ review.product.get_absolute_url }}">
                                <img src="{% version review.product.get_main_image.image 'thumbnail' %}" alt="{{ review.product.title }}">
                            <p class='small'>{{ review.product.title }}<br>
                            <small class='text-muted'>[Арткул: {{ review.product.articul }}]</small>
                        </a>
                    </td>
                    <td>{{ review.text }}</td>
                    <td class='small'>{{ review.created }}</td>
                    <td>{% if review.is_show %}Опубликован{% else %}...проходит модерацию{% endif %}</td>
                </tr>
            {% empty %}
                <p class="info-text">Отзывов пока нет :(</p>
            {% endfor %}
        {% endwith %}
        </tbody>
    </table>
</div>


{% endblock %}

{% block additional_js %}{% endblock %}

