{# BREADCRUMB #}


<div class="breadcrumbs-container-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs small">
                    <span><a href="/">Главная</a></span> &gt;
                    {# --- явно передаем список``breadcrumbs``--- #}
                    {% if breadcrumbs %}
                        {% with breads=breadcrumbs %}
                            {% for bread in breads %}
                            <span>
                                <a href="{{ bread.url }}">{{ bread.title }}</a>
                            </span> &gt;
                            {% endfor %}
                        {% endwith %}
                    {% else %}
                        {# --- точная передача параметров список``tree`` и ``obj``--- #}
                        {% with tree_list=tree %}
                            {% if tree_list %}
                                {% for parent in tree_list %}
                                    <span><a href="{{ parent.get_absolute_url }}">{{ parent.title }}</a></span> &gt;
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    {% endif %}

                    <span class='active'>{{ obj.title }}</span>

                </div>
            </div>
        </div>
    </div>
</div>
{# endBREADCRUMB #}