<div class="container-fluid container-fluid-footer">
    <div class="row">
        <div class="footer-sidebar-2-wrapper">
            <div class="footer-sidebar-2 sidebar container footer-container">
                <ul id="footer-sidebar-2" class="clearfix">
                    {% if footer.catalog.exists %}
                        <li id="nav_menu-{{ footer.catalog.first.id }}" class="widget widget_nav_menu">
                        <h2 class="widgettitle"> Популярные каталоги</h2>
                        <div class="menu-footer-sidebar-menu-container">
                            <ul id="menu-footer-sidebar-menu_catalog" class="menu">
                                {% for c in footer.catalog.all %}
                                <li id="menu-item-{{ c.id }}"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-{{ c.id }}">
                                    <a href="{{ c.get_absolute_url }}" title="{{ c.title }}" rel="nofollow">{{ c.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    {% endif %}

                    {% if footer.blogs.exists %}
                    <li id="nav_menu-{{ footer.blogs.first.id }}" class="widget widget_nav_menu">
                        <h2 class="widgettitle"> Популярные блоги</h2>
                        <div class="menu-footer-sidebar-menu-container">
                            <ul id="menu-footer-sidebar-menu" class="menu">
                                {% for b in footer.blogs.all %}
                                <li id="menu-item-{{ b.id }}"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-{{ b.id }}">
                                    <a href="{{ b.get_absolute_url }}" title="{{ b.title }}" rel="nofollow">{{ b.title }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    {% endif %}

                    {% if footer.page.exists %}
                    <li id="nav_menu-{{ footer.page.first.id }}" class="widget widget_nav_menu">
                        <h2 class="widgettitle"> Популярные страницы</h2>
                        <div class="menu-footer-sidebar-menu-container">
                            <ul id="menu-footer-sidebar-menu_page" class="menu">
                                {% for p in footer.page.all %}
                                <li id="menu-item-{{ p.id }}"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-{{ p.id }}">
                                    <a href="{% url 'page:page-detail' slug=p.slug %}" title="{{ p.title }}" rel="nofollow">{{ p.title }}</a>
                                </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </li>
                    {% endif %}

                     {% if footer.get_list_link %}
                     <li id="nav_menu-{{ footer.get_list_link.first.id }}" class="widget widget_nav_menu">
                        <h2 class="widgettitle"> Быстрые ссылкии</h2>
                        <div class="menu-footer-sidebar-menu-container">
                            <ul id="menu-footer-sidebar-menu_link" class="menu">
                                {% for ll in footer.get_list_link %}
                                <li id="menu-item-{{ ll.id }}"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-{{ ll.id }}">
                                    <a class='{{ ll.type_link }}_link' href="{{ ll.url }}" title="{{ ll.title }}" {% if 'T' in ll.type_link %} target="_blank" {% endif %}>{{ ll.title }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    {% endif %}

                    {% if footer.galleries.exists %}
                    <li id="nav_menu-{{ footer.galleries.first.id }}" class="widget widget_nav_menu">
                        <h2 class="widgettitle"> Популярные галереи</h2>
                        <div class="menu-footer-sidebar-menu-container">
                            <ul id="menu-footer-sidebar-menu_gallery" class="menu">
                                {% for g in footer.galleries.all %}
                                <li id="menu-item-{{ g.id }}"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-{{ g.id }}">
                                    <a href="{{ g.get_absolute_url }}" title="{{ g.title }}" rel="nofollow">{{ g.title }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    {% endif %}

                    {% if footer.text_info %}
                        <li id="text-{{ footer.text_info.id }}" class="widget widget_text"><h2 class="widgettitle">{{ footer.text_info.title }}</h2>
                            <div class="textwidget">{{ footer.text_info.html|safe }}</div>
                        </li>
                    {% endif %}

                    {% if setting_template.address %}
                    <li id="text-{{ setting_template.id  }}" class="widget widget_text"><h2 class="widgettitle">Как нас найти</h2>
                        <div class="textwidget">
                            <p><i class="fa fa-map-marker text-color-theme "></i>{{ setting_template.address }}</p>
                            <p><i class="fa fa-phone-square text-color-theme"></i>{{ setting_template.phone }}</p>
                            <p><i class="fa fa-envelope-o text-color-theme"></i>{{ setting_template.email }}</p>
                            <p><i class="fa fa-fax text-color-theme"></i>{{ setting_template.site.name }}</p>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 footer-copyright"></div>
                    <div class="col-md-6 footer-menu"><div class="menu-footer-menu-container">
                            <ul id="menu-footer-menu" class="footer-menu">
                                <li id="menu-item-2745"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2745">
                                    <a href="/">{{ setting_template.site.name }}<span> © {% now 'Y' %} Все права защищены.</span></a>
                                </li>
                                {% if setting_template.terms_of_use %}
                                <li id="menu-item-{{setting_template.site.domain }}"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-{{setting_template.site.domain }}">
                                    <a data-toggle="modal" data-target=".bs-example-modal-lg">Пользовательское соглашение</a>
                                    <!-- Large modal -->
                                    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                                      <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                          <div class="modal-body footer-sidebar-2-wrapper">{{ setting_template.terms_of_use|safe }}</div>
                                        </div>
                                      </div>
                                    </div>
                                </li>
                                {% endif %}

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <a id="top-link" href="/#top" style="bottom: 22px;"><span>Top</span></a>
        </footer>

    </div>
</div>
