{% if messages %}
    {% for message in messages %}
        <div class="alert alert-info alert-dismissible fade in" role="alert" style="position:fixed; z-index: 88;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button><strong>!</strong> {{ message }}
        </div>
    {% endfor %}

{% endif %}


<!--<nav id="offcanvas-sidebar-nav" class="st-sidebar-menu st-sidebar-effect-2">-->
    <!--<div class="nano has-scrollbar">-->
        <!--<div class="nano-content" tabindex="0" style="right: -15px;">-->
            <!--<div class="st-sidebar-menu-close-btn"><i class="fa fa-times"></i></div>-->
            <!--<div class="offcanvas-sidebar sidebar">-->
                <!--<ul id="offcanvas-sidebar" class="clearfix">-->
                    <!--<li id="nav_menu-6" class="widget widget_nav_menu"><h2 class="widgettitle">Navigation</h2>-->
                        <!--<div class="menu-offcanvas-menu-container">-->
                            <!--<ul id="menu-offcanvas-menu" class="menu">-->
                                <!--<li id="menu-item-2936" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-11 current_page_item menu-item-2936">-->
                                    <!--<a href="https://cde97efe.envatohostedview.com/">Homepage</a></li>-->
                                <!--<li id="menu-item-2927"-->
                                    <!--class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2927">-->
                                    <!--<a href="https://cde97efe.envatohostedview.com/news/">News</a></li>-->
                                <!--<li id="menu-item-2934"-->
                                    <!--class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2934">-->
                                    <!--<a href="https://cde97efe.envatohostedview.com/gallery/">Gallery</a></li>-->
                                <!--<li id="menu-item-2929"-->
                                    <!--class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2929">-->
                                    <!--<a href="https://cde97efe.envatohostedview.com/portfolio/">Portfolio</a></li>-->
                                <!--<li id="menu-item-2928"-->
                                    <!--class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2928">-->
                                    <!--<a href="https://cde97efe.envatohostedview.com/our-services-modern/">Our-->
                                        <!--services</a></li>-->
                                <!--<li id="menu-item-2930"-->
                                    <!--class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2930">-->
                                    <!--<a href="https://cde97efe.envatohostedview.com/about-us/">About us</a></li>-->
                                <!--<li id="menu-item-2931"-->
                                    <!--class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2931">-->
                                    <!--<a href="https://cde97efe.envatohostedview.com/career/">Career</a></li>-->
                                <!--<li id="menu-item-2932"-->
                                    <!--class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2932">-->
                                    <!--<a href="https://cde97efe.envatohostedview.com/certifications/">Certifications</a>-->
                                <!--</li>-->
                                <!--<li id="menu-item-2933"-->
                                    <!--class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2933">-->
                                    <!--<a href="https://cde97efe.envatohostedview.com/contact-us-2/">Contact us</a>-->
                                <!--</li>-->
                                <!--<li id="menu-item-2935"-->
                                    <!--class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2935">-->
                                    <!--<a href="https://cde97efe.envatohostedview.com/get-a-quote/">Get a quote</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</li>-->


                    <!--<li id="custom_html-10" class="widget_text widget widget_custom_html"><h2 class="widgettitle">-->
                        <!--Our Brochures</h2>-->
                        <!--<div class="textwidget custom-html-widget">-->
                            <!--<div class="widget-download-link-wrapper">-->
                                <!--<div class="widget-download-icon"><i class="fa fa-file-pdf-o">&lt;!&ndash;icon&ndash;&gt;</i>-->
                                <!--</div>-->
                                <!--<div class="widget-download-details">-->
                                    <!--<div class="widget-download-title"><a-->
                                            <!--href="https://cde97efe.envatohostedview.com/#">Company Brochure</a>-->
                                    <!--</div>-->
                                    <!--<div class="widget-download-subtitle">2.3 mb, PDF</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="widget-download-link-wrapper">-->
                                <!--<div class="widget-download-icon"><i class="fa fa-file-pdf-o">&lt;!&ndash;icon&ndash;&gt;</i>-->
                                <!--</div>-->
                                <!--<div class="widget-download-details">-->
                                    <!--<div class="widget-download-title"><a-->
                                            <!--href="https://cde97efe.envatohostedview.com/#">Price List</a></div>-->
                                    <!--<div class="widget-download-subtitle">2.3 mb, PDF</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</li>-->

                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="nano-pane" style="display: none;">-->
            <!--<div class="nano-slider" style="height: 721px; transform: translate(0px, 0px);"></div>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->


{% include 'menu/templates/topmenu.html' %}
{% include 'menu/templates/mainmenu.html' %}
