{% load fb_versions %}
{% load mptt_tags %}
{% load url_handler %}


<div class="col-md-3 main-sidebar sidebar">
    <ul id="main-sidebar">
        <!--<li id="search-3" class="widget widget_search">-->
            <!--<form method="get" id="searchform" class="searchform"-->
                  <!--action="https://cde97efe.envatohostedview.com/">-->
                <!--<input type="search" class="field" name="s" value="" id="s" placeholder="Type keyword(s) here">-->
                <!--<input type="submit" class="submit btn" id="searchsubmit" value="Search">-->
            <!--</form>-->
        <!--</li>-->

        <li id="nav_menu-1" class="widget widget_nav_menu">
            <h2 class="widgettitle">Разделы</h2>
            <div class="menu-blog-menu-container">
                <ul id="menu-blog-menu" class="menu">
                    {% for obj in leftbar.all %}
                    <li id="menu-item-{{ obj.id }}" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-{{ obj.id }}">
                        <a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </li>

        <!--<li id="custom_html-7" class="widget_text widget widget_custom_html"><h2 class="widgettitle">Our-->
            <!--Brochures</h2>-->
            <!--<div class="textwidget custom-html-widget">-->
                <!--<div class="widget-download-link-wrapper">-->
                    <!--<div class="widget-download-icon"><i class="fa fa-file-pdf-o">&lt;!&ndash;icon&ndash;&gt;</i>-->
                    <!--</div>-->
                    <!--<div class="widget-download-details">-->
                        <!--<div class="widget-download-title"><a href="#">Company Brochure</a></div>-->
                        <!--<div class="widget-download-subtitle">2.3 mb, PDF</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="widget-download-link-wrapper">-->
                    <!--<div class="widget-download-icon"><i class="fa fa-file-pdf-o">&lt;!&ndash;icon&ndash;&gt;</i>-->
                    <!--</div>-->
                    <!--<div class="widget-download-details">-->
                        <!--<div class="widget-download-title"><a href="#">Price List</a></div>-->
                        <!--<div class="widget-download-subtitle">2.3 mb, PDF</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        {% if object.get_images.exists %}
        <li id="thebuilt-recent-posts-3" class="widget widget_thebuilt_recent_entries">
            <h2 class="widgettitle">Изображения блога</h2>
            <ul>
                {% for img in object.get_images %}
                <li class="clearfix">
                    <div class="widget-post-thumb-wrapper">
                        <a href="">
                            <img width="270" height="152" src="{% version img.image 'small' %}" class="attachment-thebuilt-blog-thumb-widget size-thebuilt-blog-thumb-widget wp-post-image">
                        </a>
                    </div>
                    <div class="widget-post-details-wrapper">
                        {% if img.image_title %}<div class="post-title"><a>{{ img.image_title }}</a></div>{% endif %}
                        {% if img.image_description %}<div class="post-date">{{ img.image_description }}</div>{% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}

        <!--<li id="custom_html-8" class="widget_text widget widget_custom_html">-->
            <!--<div class="textwidget custom-html-widget">-->
                <!--<style scoped="scoped">-->
                    <!--.mgt-promo-block-79290018663.mgt-promo-block.darken .mgt-promo-block-content {background-color: #fbbe3f!important;}.mgt-promo-block-79290018663.mgt-promo-block.animated:hover .mgt-promo-block-content {background-color: rgba(255,255,255,0.73)!important;}-->
                <!--</style>-->
                <!--<div class="mgt-promo-block animated black-text cover-image text-size-normal darken mgt-promo-block-79290018663 wpb_content_element"-->
                     <!--data-style="background-image: url(https://cde97efe.envatohostedview.com/wp-content/uploads/2017/10/building-lines.jpg);background-repeat: no-repeat;width: 100%; height: 200px;"-->
                     <!--style="background-image: url(https://cde97efe.envatohostedview.com/wp-content/uploads/2017/10/building-lines.jpg);background-repeat: no-repeat;width: 100%; height: 200px;">-->
                    <!--<div class="mgt-promo-block-content va-top">-->
                        <!--<div class="mgt-promo-block-content-inside">-->

                            <!--<h3>Do you have any-->
                                <!--questions?</h3>-->

                            <!--Contact us at the TheBuilt WP office nearest to you or submit a business inquiry-->
                            <!--online-->
                            <!--<div class="mgt-button-wrapper mgt-button-wrapper-align-left mgt-button-wrapper-display-newline mgt-button-top-margin-enable">-->
                                <!--<a class="btn hvr-bounce-to-right mgt-button mgt-style-solid-invert mgt-size-normal mgt-align-left mgt-display-newline mgt-text-size-small mgt-button-icon-position-left mgt-text-transform-uppercase "-->
                                   <!--href="#">Contact us</a></div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->

        {% if object.tags.exists %}
        <li id="tag_cloud-1" class="widget widget_tag_cloud"><h2 class="widgettitle">Тэги</h2>
            <div class="tagcloud">
                {% for tag in object.tags.iterator %}
                    <a href="?tag={{ tag.id }}" class="{% if request.GET.tag == tag.id|lower %} btn-primary{% endif %} tag-cloud-link tag-link-20 tag-link-position-1" style="font-size: 8pt;" aria-label="architecture (9 items)">{{ tag }}</a>
                {% endfor %}
            </div>
        </li>
        {% endif %}

        <!--<li id="archives-3" class="widget widget_archive"><h2 class="widgettitle">Archives</h2>-->
            <!--<label class="screen-reader-text" for="archives-dropdown-3">Archives</label>-->
            <!--<div class="select2-container" id="s2id_archives-dropdown-3"><a href="javascript:void(0)"-->
                                                                            <!--class="select2-choice"-->
                                                                            <!--tabindex="-1"> <span-->
                    <!--class="select2-chosen" id="select2-chosen-1">Select Month</span><abbr-->
                    <!--class="select2-search-choice-close"></abbr> <span class="select2-arrow" role="presentation"><b-->
                    <!--role="presentation"></b></span></a><label for="s2id_autogen1" class="select2-offscreen">Archives</label><input-->
                    <!--class="select2-focusser select2-offscreen" type="text" aria-haspopup="true" role="button"-->
                    <!--aria-labelledby="select2-chosen-1" id="s2id_autogen1">-->
                <!--<div class="select2-drop select2-display-none select2-with-searchbox">-->
                    <!--<div class="select2-search"><label for="s2id_autogen1_search" class="select2-offscreen">Archives</label>-->
                        <!--<input type="text" autocomplete="off" autocorrect="off" autocapitalize="off"-->
                               <!--spellcheck="false" class="select2-input" role="combobox" aria-expanded="true"-->
                               <!--aria-autocomplete="list" aria-owns="select2-results-1" id="s2id_autogen1_search"-->
                               <!--placeholder=""></div>-->
                    <!--<ul class="select2-results" role="listbox" id="select2-results-1"></ul>-->
                <!--</div>-->
            <!--</div>-->
            <!--<select id="archives-dropdown-3" name="archive-dropdown"-->
                    <!--onchange="document.location.href=this.options[this.selectedIndex].value;" tabindex="-1"-->
                    <!--title="Archives" class="select2-offscreen">-->

                <!--<option value="">Select Month</option>-->
                <!--<option value="https://cde97efe.envatohostedview.com/2016/06/"> June 2016 &nbsp;(2)</option>-->
                <!--<option value="https://cde97efe.envatohostedview.com/2016/03/"> March 2016 &nbsp;(4)</option>-->
                <!--<option value="https://cde97efe.envatohostedview.com/2016/02/"> February 2016 &nbsp;(3)</option>-->

            <!--</select>-->
        <!--</li>-->

    </ul>
</div>




<!--<div class="left_bar">-->
<!--<div class="panel panel-default sidebar-menu">-->
    <!--<div class="panel-heading"><h3 class="panel-title"> {{ leftbar.root_obj.title }}</h3></div>-->



