<nav role="navigation" id="nav-below" class="navigation-paging">
    <div class="row">
        <div class="col-md-12">
            {% if 'post' in type %}
                {% if next_prev.next %}
                    <div class="nav-next"><a href="{{ next_prev.next.get_absolute_url }}">{{ next_prev.next.title|truncatechars:42 }}</a></div>
                {% endif %}
                {% if next_prev.prev %}
                    <div class="nav-previous"><a href="{{ next_prev.prev.get_absolute_url }}">{{ next_prev.prev.title|truncatechars:42 }}</a></div>
                {% endif %}
            {% else %}
                {% if next_prev.next %}
                    <div class="nav-next"><a href="{{ next_prev.next.get_absolute_url }}">{{ next_prev.next.title|truncatechars:42 }}</a></div>
                {% endif %}
                {% if next_prev.prev %}
                    <div class="nav-previous"><a href="{{ next_prev.prev.get_absolute_url }}">{{ next_prev.prev.title|truncatechars:42 }}</a></div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</nav>
