{% load staticfiles %}
{% load mptt_tags %}
{% load fb_versions %}


{% if leftbar.root_obj == object %}
<div class="box row">
    <div id="categories-nav">
        {% recursetree leftbar.obj_list %}
            {% if node.is_show %}

                <div class="wpb_wrapper content-block blog-post">
                    {% if node.get_main_image %}
                    <div class="mgt-promo-block animated white-text cover-image text-size-normal darken wpb_content_element wpb_animate_when_almost_visible wpb_appear wpb_start_animation"
                         data-style="background-image: url({% version node.get_main_image.image 'large' %});background-repeat: no-repeat;width: 100%;"
                         style="background-image: url({% version node.get_main_image.image 'large' %} background-repeat: no-repeat;width: 100%;">
                        <div class="mgt-promo-block-content va-bottom">
                            <div class="mgt-promo-block-content-inside vc_custom_1510133349618">
                                <h3>{{ node.title }}</h3>
                                    <div class="mgt-button-wrapper mgt-button-wrapper-align-left mgt-button-wrapper-display-newline mgt-button-top-margin-disable">
                                        <a class="btn hvr-icon-wobble-horizontal mgt-button mgt-style-textwhite mgt-size-normal mgt-align-left mgt-display-newline mgt-text-size-small mgt-button-icon-position-right mgt-text-transform-uppercase " href="{{ node.get_absolute_url }}">подробнее<i class="fa fa-arrow-right"></i></a>
                                    </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        <div class="mgt-promo-block-content va-bottom">
                            <div class="mgt-promo-block-content-inside vc_custom_1510133349618">
                                <h2><a href="{{ node.get_absolute_url }}">{{ node.title }}</a></h2>
                            </div>
                        </div>
                    {% endif %}
                    <div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_left-to-right left-to-right vc_custom_1459415178192 wpb_start_animation animated">
                        <div class="wpb_wrapper">
                            <p>{{ node.description }}</p>
                        </div>
                    </div>
                </div>
                {% if not node.is_leaf_node %}
                    <div class="children children{{ node.is_child_node }}">{{ children }}</div>
                {% endif %}
            {%endif%}
        {% endrecursetree %}
    </div>
</div>
{% else %}
<div class="box row">
    <ul id="categories-nav">
        {% recursetree object.get_children %}
        {%if node.is_show%}
            <li class='{% if not node.is_leaf_node %}has-sub parent{% endif %}{% if leftbar.obj.title == node.title %} active{% endif %}'>
                <div class="row">
                    {% if node.get_main_image %}<div class="col-md-2"><img class="thumbnail" src="{% version node.get_main_image.image 'small' %}"></div>{% endif %}
                    <div class="col-md-10">
                        <a class="lead" href="{{ node.get_absolute_url }}">{{ node.title }}</a><br>
                        <p class="">{{ node.description }}</p>
                    </div>
                </div><br>
                {% if not node.is_leaf_node %}
                    <ul class="children{{ node.is_child_node }}">{{ children }}</ul>
                {% endif %}
            </li>
        {%endif%}
        {% endrecursetree %}
    </ul>
</div>
{% endif %}
