{% extends 'main.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load fb_versions %}

{% block title %}{{ object.seo_title }}{% endblock %}
{% block description %}{{ object.seo_description }}{% endblock %}
{% block keywords %}{{ object.seo_keywords }}{% endblock %}

{% block additional_css %}{% endblock %}


{% block main %}

<div class="content-block">
    <div class="container-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-item-title">
                        <h1>{{ object.seo_title }}</h1>
                    </div>
                </div>
            </div>
        </div>
        {% block breadcrumbs %}
            {% include 'default/breadcrumbs.html' with tree=leftbar.obj.get_ancestors obj=object %}
        {% endblock %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">

                {% include 'catalog/templates/catalog_child_list.html' %}
                {% if object.description %}{{ object.description }}{% endif %}
                {% if objects %}{% include 'default/pagination.html' %}{% endif %}
                {% include 'product/templates/item_bestseller_product.html' with title="Товары каталога" %}

                {% if object.html %}{{ object.html|safe }}{% endif %}
            </div>
            {% block leftbar %}{% include 'default/leftbar.html' with leftbar=leftbar %}{% endblock %}
        </div>
    </div>

</div>


           {# {% include 'catalog/templates/catalog_sort_row.html' %} #}




{% endblock %}
