{# Slider #}
{% load static %}
{% load fb_versions %}


{% if slider_home %}



<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="wpb_content_element">
                    <div class="lazy slider">

                        {% with slider=slider_home  %}
                        {% for sh in slider %}

                        <div style="max-height:550px;min-height:550px;background-repeat: no-repeat; background-image: url(&quot;{% version sh.image 'max' %}&quot;); background-size: cover; background-position: center center; ">

                            <div class="tp-parallax-wrap">
                                <div class="tp-loop-wrap">
                                    <div class="tp-mask-wrap">
                                        <div class="tp-caption tp-resizeme head">{{ sh.title }}</div>
                                        <div class="tp-caption tp-resizeme body">{% if sh.description %}<p>{{ sh.description|safe }}</p>{% endif %}
                                            {% if sh.url %}<a class="btn mgt-button mgt-style-solid-invert mgt-size-small" target="_blank" href="{{ sh.url }}">ПОДРОБНЕЕ</a>{% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        {% endfor %}
                        {% endwith %}
                    </div>

                    <!--<div class="tp-leftarrow tparrows hermes" style="top: 50%; transform: matrix(1, 0, 0, 1, 50, -55); left: 0px;"></div>-->
                    <!--<div class="tp-rightarrow tparrows hermes" style="top: 50%; transform: matrix(1, 0, 0, 1, -80, -55); left: 100%;"></div>-->


                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}
