{% load static %}
{% load fb_versions %}


{% comment %}
{{ area.html_code|safe }}
{% for area in include_areas %}

{% endcomment %}
{% if include_areas.exists %}

<div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1459162774762">
    <div class="wpb_column vc_column_container vc_col-sm-2" style="margin-left: -3%"></div>
    {% for area in include_areas %}
        {% if area.code in 'advantages' %}
            <div class="wpb_column vc_column_container vc_col-sm-3">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <!--<style scoped="scoped">.mgt-promo-block-{{ area.id }}.mgt-promo-block.animated:hover .mgt-promo-block-content {background-color: rgba(0,0,0,0.5)!important;}</style>-->
                        <div class="mgt-promo-block animated white-text cover-image text-size-normal no-darken mgt-promo-block-{{ area.id }} wpb_content_element wpb_animate_when_almost_visible wpb_left-to-right wpb_start_animation"
                             data-style="background-image: url({% version area.image 'medium' %});background-repeat: no-repeat;width: 100%; height: 250px;">
                            <div class="mgt-promo-block-content mgt-hide-button">
                                <div class="mgt-promo-block-content-inside">
                                    <div class="mgt-button-wrapper mgt-button-wrapper-align-center mgt-button-wrapper-display-newline mgt-button-top-margin-disable">
                                        {% if area.url %}
                                        <a class="btn hvr-bounce-to-right mgt-button mgt-style-bordered mgt-size-normal mgt-align-center mgt-display-newline mgt-text-size-small mgt-button-icon-position-left mgt-text-transform-uppercase" href="{{ are.url }}">ПОДРОБНЕЕ</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mgt-promo-block white-text text-size-normal no-darken mgt-promo-block-{{ area.id }} wpb_content_element wpb_animate_when_almost_visible wpb_left-to-right wpb_start_animation animated"
                             data-style="background-color: #2a2f35;width: 100%; height: 250px;">
                            <div class="mgt-promo-block-content va-top">
                                <div class="mgt-promo-block-content-inside vc_custom_1510132721387">
                                    <h4 style="text-align: left">{{ area.title }}</h4>
                                    <p style="text-align: left">{{ area.description|safe }}
                                    </p>
                                    <div class="mgt-button-wrapper mgt-button-wrapper-align-left mgt-button-wrapper-display-newline mgt-button-top-margin-disable">
                                    {% if area.url %}
                                        <a class="btn hvr-icon-wobble-horizontal mgt-button mgt-style-textwhite mgt-size-normal mgt-align-left mgt-display-newline mgt-text-size-small mgt-button-icon-position-right mgt-text-transform-uppercase "
                                           href="{{ area.url }}">ПОДРОБНЕЕ<i class="fa fa-arrow-right"></i>
                                        </a>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}
    {% endfor %}

</div>
<div class="vc_row-full-width"></div>





{% endif %}