{% load fb_versions %}


{% if page == home %}
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <div class="mgt-header-block clearfix text-left text-black wpb_content_element mgt-header-block-style-1 mgt-header-texttransform-header">
                        <h2 class="mgt-header-block-title">{{ obj.title }}</h2>
                        <div class="mgt-header-line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="vc_row wpb_row vc_row-fluid">
        {% for post in objects %}
        <div class="wpb_column vc_column_container vc_col-sm-4">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">

                    <div class="mgt-promo-block animated white-text cover-image text-size-normal darken mgt-promo-block-{{ post.id }} wpb_content_element wpb_animate_when_almost_visible wpb_appear wpb_start_animation"
                        {% if post.get_main_image.image %}
                            data-style="background-image: url({% version post.get_main_image.image 'medium' %});background-repeat: no-repeat;width: 100%; height: 220px;"
                            style="background-image: url({% version post.get_main_image.image 'medium' %});background-repeat: no-repeat;width: 100%; height: 220px;"
                        {% else %}
                            style="width: 100%; height: 220px;"{% endif %}>
                        <div class="mgt-promo-block-content va-bottom">
                            <div class="mgt-promo-block-content-inside vc_custom_1510132789992">
                                <i class="fa fa-2 fa-file-text-o"></i>
                                <h3>{{ post.title }}</h3>
                                <div class="mgt-button-wrapper mgt-button-wrapper-align-left mgt-button-wrapper-display-newline mgt-button-top-margin-disable">
                                    <a class="btn hvr-icon-wobble-horizontal mgt-button mgt-style-textwhite mgt-size-normal mgt-align-left mgt-display-newline mgt-text-size-small mgt-button-icon-position-right mgt-text-transform-uppercase " href="{{ obj.get_absolute_url }}">подробнее<i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if post.description %}
                    <div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_left-to-right left-to-right vc_custom_1459415178192 wpb_start_animation animated">
                        <div class="wpb_wrapper">
                            <p>{{ post.description }}</p>
                            <p><a href="{{ post.get_absolute_url }}" class="btn mgt-button mgt-style-solid-invert mgt-size-small">Подробнее</a></p>
                            <time class="small text-muted" datetime="{{ post.created }}">{{ post.created }}</time>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% else %}


    <div class="mgt-grid-posts clearfix">

        {% for post in objects %}

            <div class="content-block blog-post">
                <article id="post-{{post.id}}"
                         class="post-{{post.id}} post type-post status-publish format-standard has-post-thumbnail hentry category-construction-consultant tag-architecture tag-best tag-building tag-construction tag-house tag-interior tag-renovation">
                    <div class="post-content-wrapper">
                        {% if post.get_main_image.image %}
                        <div class="blog-post-thumb text-center">
                            <a href="{{ post.get_absolute_url }}" rel="bookmark">
                                <img src="{% version post.get_main_image.image 'medium' %}" class="attachment-thebuilt-blog-thumb size-thebuilt-blog-thumb wp-post-image">
                            </a>
                            <!--<div class="post-categories"><a href="" rel="category tag">Construction Consultant</a></div>-->
                        </div>
                        {% endif %}
                        <div class="post-content">
                            <h2 class="entry-title post-header-title"><a href="{{ post.get_absolute_url }}" rel="bookmark">{{ post.title }}</a></h2>
                            <div class="post-info">
                                <span><i class="fa fa-file-text-o"></i>
                                    <a href="{{ post.get_absolute_url }}" rel="bookmark">{{ post.created }}</a></span>
                                <span class="post-comments-count"><i class="fa fa-comment"></i>{{ post.get_comments.count }}</span>
                            </div>

                            <!-- .entry-content -->
                            <div class="entry-content">
                                <p>{% if post.description %}{{ obj.description }}{% endif %}</p>
                                <p><a class="btn mgt-button mgt-style-solid-invert mgt-size-small" href="{{ post.get_absolute_url }}">Подробнее</a></p>
                            </div>

                        </div>
                    </div>
                </article>
            </div>
        {% empty %}<p class="lead"> : ( Не найдено.</p>
        {% endfor %}

    </div>





{% endif %}