{% extends 'main.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load fb_versions %}
{% load mptt_tags %}
{% load rupluralize %}
{% load markdown_deux_tags %}

{% block title %}{{ object.seo_title }}{% endblock %}
{% block description %}{{ object.seo_description }}{% endblock %}
{% block keywords %}{{ object.seo_keywords }}{% endblock %}


{% block main %}

<div class="content-block">
    <div class="container-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-item-title">
                        <h1>{{ object.seo_title }}</h1>
                    </div>
                </div>
            </div>
        </div>
        {% block breadcrumbs %}
            {% include 'default/breadcrumbs.html' with tree=leftbar.obj.get_ancestors obj=object %}
        {% endblock %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                {% include 'blog/templates/blog_post_list.html' with obj=object %}
                {% if objects %}{% include 'default/pagination.html' %}{% endif %}
                {% if object.html %}{{ object.html|safe }}{% endif %}
            </div>
            {% block leftbar %}{% include 'default/leftbar.html' with leftbar=leftbar %}{% endblock %}
        </div>
    </div>

</div>




{% endblock %}
