{% load static %}
{% load mptt_tags %}
{% load fb_versions %}
{% load url_handler %}

<header class="sticky-header main-header sticky-header-elements-headeronly">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-left logo">
                    <a class="logo-link" href="/">
                        {# -- logo -- #}
                        {% if setting_template.logo %}
                            <img src="{% version setting_template.logo 'medium' %}" alt="{{ setting_template.site.name }}" title="{{ setting_template.title }}" class="regular-logo">
                            <img src="{% version setting_template.logo 'medium' %}" alt="{{ setting_template.site.name }}" title="{{ setting_template.title }}" class="light-logo">
                        {% else %}
                            <h4 class="title">{{ setting_template.site.name }}</h4>
                            <small>{{ setting_template.title }}</small>
                        {% endif %}
                    </a>
                </div>
                <div class="header-center">
                    <div class="header-info-2-text">
                        {% if setting_template.phone %}
                        <div class="header-info-half">
                            <div class="header-info-content-icon"><i class="fa fa-phone-square"></i></div>
                            <div class="header-info-content-title">Телефон:</div>
                            <div class="header-info-content-text"><a href="tel:{{ setting_template.phone }}">{{ setting_template.phone }}</a></div>
                        </div>
                        {% endif %}
                        {% if setting_template.email %}
                            <div class="header-info-half">
                                <div class="header-info-content-icon"><i class="fa fa-clock-o"></i></div>
                                <div class="header-info-content-title">Email:</div>
                                <div class="header-info-content-text"><a href="email:{{ setting_template.email }}">{{ setting_template.email }}</a></div>
                            </div>
                    {% endif %}
                    </div>
                </div>
                <div class="header-right">
                    <ul class="header-nav">
                        <li class="search-toggle">
                            <div id="trigger-search"><a class="search-toggle-btn"><i class="fa fa-search"></i></a></div>
                        </li>
                        <!--<li class="float-sidebar-toggle">-->
                            <!--<div id="st-sidebar-trigger-effects">-->
                                <!--<a class="float-sidebar-toggle-btn" data-effect="st-sidebar-effect-2"><i class="fa fa-bars"></i></a>-->
                            <!--</div>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="mainmenu-belowheader mainmenu-dark menu-uppercase">
        <div id="navbar" class="navbar navbar-default clearfix mgt-mega-menu">
            <div class="navbar-inner">
                <div class="container">
                    <div class="navbar-toggle" data-toggle="collapse" data-target=".collapse">
                        Menu
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul id="menu-main-menu-1" class="nav">
                             {% recursetree mainmenu %}
                                <li id="mgt-menu-item-{{ node.id }}"
                                    class="menu-item menu-item-type-post_type menu-item-object-page
                                    {% if current_url == node.get_url %} active current-menu-item current_page_item {% endif %}
                                    {% if not node.is_leaf_node %}menu-item-has-children{% endif %}">
                                    <a href="{% if node %}{{ node|url_handler:'mainmenu' }}{% else %}/{% endif %}"><strong>{{ node.name }}</strong></a>
                                    {% if not node.is_leaf_node %}
                                        <ul class="sub-menu megamenu-column-1 level-0">{{ children }}</ul>
                                    {% endif %}
                                </li>
                            {% endrecursetree %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</header>



