{% load staticfiles %}
{% load fb_versions %}


<div class="header-menu-bg top-menu-position-default">
    <div class="header-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    {% include 'site_info/templates/social_networs.html' with type='top_menu' %}

                    <div class="menu-top-menu-container-toggle"></div>
                    <div class="top-menu-container">
                        <ul id="menu-top-menu" class="top-menu">
                            {% if user.is_authenticated %}
                            <li id="menu-item-{{ user.email }}" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-{{ user.email }}">
                                <a href="{% url 'users:profile' %}">Аккаунт</a>
                            </li>
                            {% else %}
                            <li id="menu-item-0" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-0">
                                <a href="{% url 'users:login' %}">Войти</a></li>
                            {% endif %}
                            {% if user.is_authenticated %}
                                <li id="menu-item-{% url 'users:logout' %}" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-{% url 'users:logout' %}">
                                    <a href="{% url 'users:logout' %}"> Выход</a>
                                </li>
                            {% else %}
                            <li id="menu-item-{% url 'users:register' %}" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-{% url 'users:register' %}">
                                <a href="{% url 'users:register' %}"> Регистрация</a>
                           {% endif %}
                            {% with total_qty=cart|length %}
                                {% if total_qty %}
                                <li id="menu-item-{% url 'cart:cart-detail' %}" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-{% url 'cart:cart-detail' %}">
                                    <a href="{% url 'cart:cart-detail' %}">
                                        <i class="fa fa-shopping-cart"></i>
                                        <small class="count jsTotalCartQty">{{ total_qty }} шт</small> /
                                        <small>{{ cart.get_total_price|floatformat:'2' }}</small>
                                    </a>
                                </li>
                                {% endif %}
                            {% endwith %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









